.appRoot {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: color 0.3s, background-color 0.3s;

  .scene {
    flex: 1;
    padding: 32px;
  }

  .errorMsg {
    line-height: 24px;
    padding: 16px;
    background-color: #ff4242;
    color: #fff;
  }

  .loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
}
